My NoteBook

This book is the final assignment project notebook  and has some codes

R
SQL
JAVA 
JULIA
SCALA
JAVA SCRIPT
SWIFT

LIBRARIES ARE
TENSER FLOW
PyTORCH
NumPy
SciPy
Pandas
Matplotlib
Keras
SciKit-Learn
PyTorch

TOOLS ARE 
APACHE SPARK
MATLAB
APACHE HADOOP
KNIME
TENSER FLOW
TABLEAU
RAPID MINER

Arithmetic Expression examples
SUM---A+B
SUBTRACTION---A-B
MULTIPLICATION----A*B
DIVISION------A/B

In [1]:

num1 = 5
num2 = 10
num3 = 2

result = (num1 * num2) + num3

print("The result is:", result)

The result is: 52

In [2]:
def convert_minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

# Test the function
minutes = 120
hours = convert_minutes_to_hours(minutes)
print(f"{minutes} minutes is equal to {hours} hours.")

120 minutes is equal to 2.0 hours.

<B>Objectives<B>:
    <ul>
<li>THE POPULAR LANGUAGES OF DATA SCIENCE</li>
 <li>THE POPULAR DS TOOLS </li>
 <li>THE POPULAR DS LIBRARIES</li>
<li> MULTIPLICATION AND ADDITION OF TWO NUMBERS</li>
 <li>CONVERSION OF MINUTES INTO HOURS</li>
    </ul>

<h2>AUTHOR</h2>
CHAITANYA